:root {
    font-size: 18px;
    /* colors */
    --light: #f1faee;
    --red: #e63946;
    --sky: #a8dadc;
    --blue: #457b9d;
    --navy: #1d3557;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 7rem auto / 15rem auto;
    background-color: var(--sky);
}

.main-header {
    background-color: var(--light);
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
}

aside {
    grid-row: 1 / 3;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.projects {
    grid-row: 1 / 3;
}